@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;1,700&family=Poppins:wght@500&display=swap");
:root {
  /* Color pallet */
  --parimary-dark: #151515ff;
  --secondary-dark: #423f3eff;
  --primary-accent: #00ffc1ff;
  --secondary-accent: #58fbd3ff;
  --brown: #b85c38;
  /* --metallic: #028090; */
  --metallic: #2be2c4;

  /* Typography */
  --ff-regular: "Poppins", sans-serif;
  --ff-stylish: "Amiri", serif;
}

/* CSS Resetting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-accent);
  font-family: var(--ff-regular);
}

/* utility classes */
.container {
  width: 100%;
  height: 100vh;
  background-color: var(--parimary-dark);
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

/* Navigation Bar */
.nav-container {
  max-width: 100%;
  /* background-color: var(--secondary-dark); */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo img {
  max-width: 75%;
  padding: 0.5em;
}

nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  color: var(--primary-accent);
  margin: 0 2em;
}
nav ul li a:hover {
  color: #fff;
}

/* Button */
.btn {
  outline: none;
  border: 0;
  cursor: pointer;
  background-color: var(--primary-accent);
  padding: 0.8125em 2.93em;
  font-family: var(--ff-regular);
  font-size: 1rem;
  /* font-weight: 650; */
  border-radius: 30px;
}
.btn:hover {
  background-color: var(--metallic);
  color: #ffffff;
}

/* Hero/Header section */
.hero {
  margin: 4em auto;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  font-family: var(--ff-stylish);
  font-style: italic;
  font-weight: bold;
  line-height: 113px;
}
.hero-content p {
  font-family: var(--ff-stylish);
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 42px;
  max-width: 42ch;
  color: #ffffff;
  margin-bottom: 2rem;
}
.hero-image img {
  max-width: 75%;
  display: block;
  margin: 0 auto;
}
.social-media {
  position: absolute;
  bottom: 0;
  left: 0;
}
.social-media a {
  margin: 0 1em;
  cursor: pointer;
}
.social-media a:nth-of-type(1) {
  margin-left: 0;
}
